@model List<Product>
@{
    ViewBag.Title = "Product List";
}
<h1>Product List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@($"{product.Price:C}")</td>
                <td>
                    <a asp-controller="Product" asp-action="Detail"
                       asp-route-id="@product.Slug">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index"
   class="btn btn-primary">Home</a>
