@{
    ViewBag.Title = "About";
}
<h1>About Us</h1>

<p>Whenever you buy an instrument from us, we want you to be confident that it's going to be the right instrument for you. That's been our primary goal throughout our history. That's why we only sell the highest quality guitars, basses, and drums.</p>


