@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="nav-link text-dark" asp-area="User3" asp-controller="Home" asp-action="Page1">User 3 Page 1</a>
<a class="nav-link text-dark" asp-area="User3" asp-controller="Home" asp-action="Page3">User 3 Page 3</a>