@{
    ViewBag.Title = "Tutorial Page 1";
}

<h4>Tutorial - Page 1</h4>
<p>Here's the first thing you need to know about my website.</p>
<a asp-action="Index" asp-route-id="Page2" class="btn btn-dark">Next</a>