@model HexConvertModel
@{
    ViewBag.Title = "Decimal to Hex Converter";
}
<h1>Decimal to Hex Converter</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input">
            Decimal Value:
        </label>
        <input asp-for="Input" />
    </div>


    <button type="submit">Convert</button>
    <a asp-action="Index">Clear</a>

    <div>
        <label>Hex Value:</label>
        <label>@ViewBag.Total</label>
    </div>
</form>