@model Dictionary<string, string>

@{
    ViewBag.Title = "Contact Me";
}

@section header {
    <h1>Contact Me</h1>
}

<table class="table">
    @foreach (KeyValuePair<string, string> pair in Model)
    {
        <tr>
            <td>@pair.Key</td>
            <td>@pair.Value</td>
        </tr>
    }
</table>