@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="nav-link text-dark" asp-area="User1" asp-controller="Home" asp-action="Page1">User 1 Page 1</a>
<a class="nav-link text-dark" asp-area="User1" asp-controller="Home" asp-action="Page3">User 1 Page 3</a>