@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="ChangePassword">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Username:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control" readonly />
        </div> 
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Old Password:</label>
        <div class="col-md-4">
            <input type="password" asp-for="OldPassword" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">New Password:</label>
        <div class="col-md-4">
            <input type="password" asp-for="NewPassword" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Confirm Password:</label>
        <div class="col-md-4">
            <input type="password" asp-for="ConfirmPassword"
                   class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>