@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Homepage User 2</h1>


<a class="nav-link text-dark" asp-area="User2" asp-controller="Home" asp-action="Page1">User 2 Page 1</a>

<a class="nav-link text-dark" asp-area="User2" asp-controller="Home" asp-action="Page2">User 2 Page 2</a>

<a class="nav-link text-dark" asp-area="User2" asp-controller="Home" asp-action="Page3">User 2 Page 3</a>
