@model CartItem

@{
    ViewData["Title"] = " | Edit Cart";
}

<h1>Edit Cart Item</h1>
<form asp-action="Edit" method="post">
    <ul class="list-group mb-2">
        <li class="list-group-item">@Model.Book.Title</li>
        <li class="list-group-item">
            <div class="row">
                <label class="col-form-label col-2">Price:</label>
                <div class="col">
                    @Model.Book.Price.ToString("c")
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <label asp-for="Quantity" class="col-form-label col-2">Quantity:</label>
                <div class="col">
                    <select asp-for="Quantity" class="form-select">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
            </div>
        </li>
    </ul>
    <input type="hidden" asp-for="Book.BookId" />
    <input type="hidden" asp-for="Book.Title" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" asp-controller="Cart" class="btn btn-primary">Cancel</a>
</form>
