@model Sales

@{
    ViewBag.Title = "Add Sales";
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h4>Add Sales</h4>

<form asp-action="Add" method="post">

    <div class="row mb-3">
        <label asp-for="Quarter" class="col-form-label col-md-2"></label>

        <div class="col-md-4">
            <input asp-for="Quarter" class="form-control" />
        </div>

        <div class="col">
            <span asp-validation-for="Quarter" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Year" class="col-form-label col-md-2"></label>

        <div class="col-md-4">
            <input asp-for="Year" class="form-control" />
        </div>

        <div class="col">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Amount" class="col-form-label col-md-2"></label>

        <div class="col-md-4">
            <input asp-for="Amount" class="form-control" />
        </div>

        <div class="col">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="EmployeeId" class="col-form-label col-md-2"></label>

        <div class="col-md-4">
            <select asp-for="EmployeeId" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Employees, "EmployeeId", "Fullname"))">
                <option value="0"></option>
            </select>
        </div>

        <div class="col">
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>

</form>