@model SearchViewModel

@{
    ViewData["Title"] = " | Manage Books";
}

<h1 class="mb-2">Manage Books</h1>
<ul class="list-group">
    <li class="list-group-item">
        <h5 class="mt-1"><a asp-action="Add">Add a book</a></h5>
    </li>
    <li class="list-group-item">
        <form asp-action="Search" method="post" class="form-inline">
            <h5 class="mt-1 mr-5">Find a book</h5>
            <label>Search Term:</label>
            <input asp-for="SearchTerm" class="form-control ml-2 mr-2">
            Search By:
            <label class="radio-inline">
                <input type="radio" class="form-control ml-2 mr-2"
                       asp-for="Type" value="book" checked>Title
            </label>
            <label class="radio-inline">
                <input type="radio" class="form-control ml-2 mr-2"
                       asp-for="Type" value="author">Author
            </label>
            <label class="radio-inline">
                <input type="radio" class="form-control ml-2 mr-2"
                       asp-for="Type" value="genre">Genre
            </label>
            <button type="submit" class="ml-2 mr-2">Find</button>
            <span asp-validation-for="SearchTerm" class="text-danger"></span>
        </form>
    </li>
</ul>