<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FAQapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FAQapp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4" id="banner">Frequently Asked Questions</h1>
        
    </div>

    <div class="container">     
        <div>@RenderBody()</div>
    </div>
</body>
</html>
