@model Product
@{
    ViewBag.Title = "Delete Product";
}

<h1>Confirm Deletion</h1>
<h3>@Model.Name</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>

